__pycache__/
documents/*
!documents/Ley_7-2015,_de_7_de_agosto,_de_iniciativa_legislativa_popular_y_participación_ciudadana_en_el_Parlamento_de_Galicia.pdf
!documents/Modificación_del_Reglamento_Orgánico_de_Participación_Ciudadana_del_Ayuntamiento_de_Madrid,_de_24_de_abril_de_2018.pdf
vector_stores/*
!vector_stores/chroma_db_OpenAI/
.streamlit/
.vscode/
prueba.ipynb
#prueba.py
.vscode-server/
.vscode/
.ollama/
